__pycache__/
*.pyc
frontend/node_modules/.vite/deps/_metadata.json
backend/__pycache__/video_utils.cpython-312.pyc
backend/__pycache__/video_utils.cpython-312.pyc
backend/__pycache__/process_frames.cpython-312.pyc
